page-welcome {
    .bg {
        background-repeat: no-repeat;
        background-size: cover;
    }

    .tb_skip {
        position: fixed;
        top: 3%;
        background: none;
    }

    .tb_skip .button-inner {
        color: white;
        font-size: 1.4rem;
    }

    .toolbar-background {
        background: none;
    }

    .btnStart {
        border-radius: 100% !important;
        position: absolute;
        top: 10%;
        width: 100px;
        height: 100px;
        left: 50%;
        font-size: 1.6rem;
        margin-left: -50px;
    }

    .bg01 {
        background-image: url(../assets/image/bg01.jpg);
    }

    .bg02 {
        background-image: url(../assets/image/bg02.jpg);
    }

    .bg03 {
        background-image: url(../assets/image/bg03.jpg);
    }

    .bg04 {
        background-image: url(../assets/image/bg04.jpg);
    }

    .swiper-slide img.logo {
        width: 180px;
        height: 180px;
        position: fixed;
        top: 0;
        left: 0;
        animation: fadeInUp 1s ease 1s 1 normal both;
    }

    .swiper-slide img.title {
        width: 90%;
        position: fixed;
        top: 180px;
        left: 5%;
        animation: fadeInDown 1s ease 1s 1 normal both;
    }

    @-webkit-keyframes fadeInDown {
        0% {
            opacity: 0;
            -webkit-transform: translate3d(0,-200px,0);
            transform: translate3d(0,-200px,0)
        }
    }

    @keyframes fadeInDown {
        0% {
            opacity: 0;
            -webkit-transform: translate3d(0,-200px,0);
            transform: translate3d(0,-200px,0)
        }
    }

    .fadeInDown {
        -webkit-animation-name: fadeInDown;
        animation-name: fadeInDown
    }

    @-webkit-keyframes fadeInUp {
        0% {
            opacity: 0;
            -webkit-transform: translate3d(0,200px,0);
            transform: translate3d(0,200px,0)
        }
    }

    @keyframes fadeInUp {
        0% {
            opacity: 0;
            -webkit-transform: translate3d(0,200px,0);
            transform: translate3d(0,200px,0)
        }
    }

    .fadeInUp {
        -webkit-animation-name: fadeInUp;
        animation-name: fadeInUp
    }
}
